.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	height: 7px !important;
	position: unset !important;
	margin-top: 50px !important;
}
.swiper-scrollbar {
	background-color: #262731 !important;
}
.swiper-scrollbar-drag {
	background: #47485b !important;
}
.swiper {
	width: 100%;
}
