.about {
	border-radius: 5px;
	width: 60%;
	color: white;
	font-size: 1.45rem;
	font-family: 'nunito';
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	justify-content: center;
	text-align: center;
}
p {
	font-size: 20px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(20px);
	padding: 1.5vw;
	border-radius: 5px;
}
p > b {
	color: lightgreen;
}
p > a {
	font-weight: bold;
}
.user {
	color: rgb(65, 131, 131);
}
.lastlet {
	position: relative;
}
.lastlet::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 20px;
	border-bottom: 2.5px white solid;
	width: 25px;
	animation: lastletter 1.5s infinite;
}
@keyframes lastletter {
	0% {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
	100% {
		border-color: transparent;
	}
}
.skills {
	list-style: none;
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 0px 0px;
	gap: 15px;
	position: absolute;
	left: 20px;
}
.about h1 {
	font-size: 2.4rem;
	text-shadow: 1px 1px 1px rgb(43, 43, 43);
	font-family: 'Nunito';
}
.html,
.css,
.react,
.bash,
.linux,
.js,
.firebase,
.node,
.laravel,
.tailwind {
	font-size: 2.2rem;
}
.typescript,
.vue,
.linux {
	font-size: 2rem;
}

.linux {
	font-size: 2rem;
}
.sass {
	font-size: 2.4rem;
}
@media only screen and (min-width: 1366px) {
	p {
		font-size: 26px;
	}
}
@media only screen and (max-width: 960px) {
	.about {
		width: 80%;
		font-size: 1rem;
		gap: 10px;
		text-align: left;
	}
	p {
		font-size: 20px;
	}
	.about h1 {
		font-size: 1.8rem;
	}
	.skills {
		gap: 10px;
		flex-direction: row;
		bottom: 10px;
		left: unset;
	}
	.lastlet::after {
		width: 25px;
		left: 15px;
		bottom: 10px;
	}
	.html,
	.css,
	.react,
	.bash,
	.linux,
	.js,
	.firebase,
	.tailwind,
	.laravel,
	.vue,
	.sass {
		font-size: 1.5rem;
	}
	.typescript,
	.node {
		font-size: 1.3rem;
	}
}

@media (max-width: 620px) {
	p {
		font-size: 16px;
		padding: 20px;
	}
}
