.about {
	border-radius: 5px;
	width: 60%;
	color: white;
	font-size: 1.45rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	justify-content: center;
	text-align: center;
}
p {
	font-size: 20px;
	text-align: left;
	background-color: #73737303;
	backdrop-filter: blur(40px);
	border: solid 1px #ffffff1f;
	padding: 1.7vw;
	border-radius: 10px;
}
p > b {
	color: #ad7e9af2;
}
p > a {
	font-weight: bold;
}
.user {
	color: #885b8d;
}
.lastlet {
	position: relative;
}
.lastlet::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 20px;
	border-bottom: 2.5px white solid;
	width: 22px;
	animation: lastletter 1.5s infinite;
}
@keyframes lastletter {
	0% {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
	100% {
		border-color: transparent;
	}
}
.skills {
	list-style: none;
	display: flex;
	flex-direction: column;
	border-radius: 10px 10px 0px 0px;
	gap: 10px;
	position: absolute;
	left: 20px;
	justify-content: center;
}
.about h1 {
	font-size: 2.4rem;
	text-shadow: 1px 1px 1px rgb(43, 43, 43);
	font-family: 'Roboto Mono' 'monospace';
}
.html,
.css,
.react,
.bash,
.linux,
.js,
.firebase,
.node,
.laravel,
.tailwind {
	font-size: 1.8rem;
}
.typescript,
.vue,
.linux {
	font-size: 1.6rem;
}

.linux {
	font-size: 1.4rem;
}
.sass {
	font-size: 2rem;
}
@media only screen and (min-width: 1440px) {
	.html,
	.css,
	.react,
	.bash,
	.linux,
	.js,
	.firebase,
	.node,
	.laravel,
	.tailwind {
		font-size: 2.4rem;
	}
	.typescript,
	.vue,
	.linux {
		font-size: 2.2rem;
	}

	.linux {
		font-size: 2rem;
	}
	.sass {
		font-size: 2.6rem;
	}
}
@media only screen and (min-width: 1366px) {
	p {
		font-size: 26px;
	}
}
@media only screen and (max-width: 960px) {
	.about {
		width: 90%;
		font-size: 1rem;
		gap: 10px;
		text-align: left;
	}
	p {
		font-size: 20px;
	}
	.about h1 {
		font-size: 1.5rem;
	}
	.skills {
		gap: 10px;
		flex-direction: row;
		bottom: 10px;
		left: unset;
		flex-wrap: wrap;
		max-width: 80%;
	}
	.lastlet::after {
		width: 16px;
		left: 12px;
		bottom: 7px;
	}
	.html,
	.css,
	.react,
	.bash,
	.linux,
	.js,
	.firebase,
	.tailwind,
	.laravel,
	.vue,
	.sass,
	.typescript,
	.node {
		font-size: 1.2rem;
	}
}

@media (max-width: 620px) {
	p {
		font-size: 16px;
		padding: 16px;
	}
}

@media (max-height: 800px) {
	.about {
		margin-bottom: 60px;
	}
}
